<% if (theme.access_counter.on) { %>
<p>
    <!-- Counter -->
    <center>
        <script language="Javascript">
            document.write('<a href="http://www.free-counter.jp/"></a>');
        </script>
        <noscript>
            <a href="http://hrs.f-counter.com/">counter</a>
            <a href="http://hqm.f-counter.com/">counter</a>
        </noscript>
        <nobr>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <!-- <a href="http://www.free-counter.jp/"> -->
                                <img class="center-block" src="https://www.f-counter.net/ani1/28/1499844588/" alt="カウンター">
                            </a>
                        </td>
                        <td>                
                            <!-- <a href="http://www.free-counter.jp/"> -->
                                <img class="center-block" src="https://www.f-counter.net/ani2/28/1499844588/" alt="カウンター">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nobr>
    </center>
    <!-- Counter End -->

    <!--<span id="busuanzi_container_site_uv" style='display:none'>
        <%- theme.access_counter.site_uv %><span id="busuanzi_value_site_uv"></span>
    </span>-->
    <span id="busuanzi_container_site_pv" style='display:none'>
        <%- theme.access_counter.site_pv %><span id="busuanzi_value_site_pv"></span>
    </span>
</p>
<% } %>
